In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [3]:
df = pd.read_csv('covid_toy.csv')

In [4]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
x_train, x_test, y_train, y_test = train_test_split(df.drop(columns = ['has_covid']), df['has_covid'], test_size = 0.2)

In [7]:
x_train

    age  gender  fever   cough       city
40   49  Female  102.0    Mild      Delhi
89   46    Male  103.0  Strong  Bangalore
81   65    Male   99.0    Mild      Delhi
18   64  Female   98.0    Mild  Bangalore
41   82    Male    NaN    Mild    Kolkata
..  ...     ...    ...     ...        ...
15   70    Male  103.0  Strong    Kolkata
1    27    Male  100.0    Mild      Delhi
39   50  Female  103.0    Mild    Kolkata
74   34  Female  104.0  Strong      Delhi
85   16  Female  103.0    Mild  Bangalore

[80 rows x 5 columns]

In [8]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [9]:
x_train

    age  gender  fever   cough       city
40   49  Female  102.0    Mild      Delhi
89   46    Male  103.0  Strong  Bangalore
81   65    Male   99.0    Mild      Delhi
18   64  Female   98.0    Mild  Bangalore
41   82    Male    NaN    Mild    Kolkata
..  ...     ...    ...     ...        ...
15   70    Male  103.0  Strong    Kolkata
1    27    Male  100.0    Mild      Delhi
39   50  Female  103.0    Mild    Kolkata
74   34  Female  104.0  Strong      Delhi
85   16  Female  103.0    Mild  Bangalore

[80 rows x 5 columns]

# 1.Aam zindagi

In [10]:
# adding a fever column

si = SimpleImputer()
x_train_fever = si.fit_transform(x_train[['fever']])

# also the test data as welll

x_test_fever = si.fit_transform(x_test[['fever']])

x_train_fever.shape

(80, 1)

In [34]:
oe = OrdinalEncoder(categories = [['Mild','Strong']])
x_train_cough = oe.fit_transform(x_train[['cough']])

x_test_cough = oe.fit_transform(x_test[['cough']])

x_train_cough.shape

(80, 1)

In [29]:
# one hot encoding on gender and city

hot = OneHotEncoder(drop = 'first', sparse_output = False)
x_train_gender_city = hot.fit_transform(x_train[['gender','city']])

x_test_gender_city = hot.fit_transform(x_test[['gender','city']])

x_train_gender_city.shape

(80, 4)

In [30]:
# now lets concatenate everything

# butlets first differntiate age as well 

x_train_age = x_train.drop(columns = ['gender','fever','cough','city']).values

x_test_age  = x_test.drop(columns = ['gender','fever','cough','city']).values

x_train_age.shape

(80, 1)

In [35]:
x_train_Transformed = np.concatenate((x_train_age,x_train_fever,x_train_gender_city, x_train_cough), axis = 1)

x_test_Transformed = np.concatenate((x_test_age,x_test_fever,x_test_gender_city, x_test_cough), axis = 1)

x_train_Transformed.shape

(80, 7)

In [36]:
# Check the shapes of all arrays to identify the issue
print("x_train_age shape:", x_train_age.shape)
print("x_train_fever shape:", x_train_fever.shape)
print("x_train_gender_city shape:", x_train_gender_city.shape)
print("x_train_cough shape:", x_train_cough.shape)

print("\nx_test_age shape:", x_test_age.shape)
print("x_test_fever shape:", x_test_fever.shape)
print("x_test_gender_city shape:", x_test_gender_city.shape)
print("x_test_cough shape:", x_test_cough.shape)

x_train_age shape: (80, 1)
x_train_fever shape: (80, 1)
x_train_gender_city shape: (80, 4)
x_train_cough shape: (80, 1)

x_test_age shape: (20, 1)
x_test_fever shape: (20, 1)
x_test_gender_city shape: (20, 4)
x_test_cough shape: (20, 1)

In [ ]:
# everything took so much time too redundant

##  Mentos Zindagi

In [37]:
from sklearn.compose import ColumnTransformer

In [41]:
transformer = ColumnTransformer(transformers = [
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2', OrdinalEncoder(categories = [['Mild','Strong']]),['cough']),
    ('tnf3', OneHotEncoder(sparse_output = False,drop = 'first'),['gender','city'])
], remainder = 'passthrough')

In [45]:
transformer.fit_transform(x_train).shape

(80, 7)

In [46]:
transformer.transform(x_test).shape

(20, 7)